In [ ]:
import random
random.seed(1)

import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('iris-with-errors.csv', header =  (0))

print('Numero de linhas e colunas: ', data.shape)
data.head(25)

Numero de linhas e colunas:  (25, 5)

   sepal_length sepal_width  petal_length petal_width    species
0           5.1         3.5           1.4         0.2  duplicada
1           5.1         3.5           1.4         0.2  duplicada
2             ?           3           1.4         0.2     setosa
3           4.7         3.2           1.3         0.2     setosa
4           5.1         3.5           1.4         0.2  duplicada
5           NaN         3.1           1.5         0.2     setosa
6             5         3.6           1.4         0.2     setosa
7           5.4         3.9           1.7         0.4  duplicada
8           5.4         3.9           1.7         0.4  duplicada
9           4.6         3.4           1.4         NaN     setosa
10            5         3.4           1.5         0.2     setosa
11          4.4         2.9           1.4         0.2  duplicada
12          4.9         3.1           1.5         0.1     setosa
13          5.4         3.7           1.5         0.2     setosa
14          4.4         2.9           1.4         0.2  duplicada
15          4.8         3.4           1.6         0.2     setosa
16          4.8           3           1.4         0.1     setosa
17          4.4         2.9           1.4         0.2  duplicada
18          4.3           3           1.1         0.1     setosa
19          5.8           4           1.2         0.2     setosa
20          5.7         4.4           1.5         0.4     setosa
21          5.4         3.9           1.3           ?     setosa
22          5.1         3.5           1.4         0.3     setosa
23          5.7           ?           1.7         0.3     setosa
24          NaN         3.8           1.5         0.3     setosa

In [ ]:
data = data.dropna(axis=0)
data.head(25)

   sepal_length sepal_width  petal_length petal_width    species
0           5.1         3.5           1.4         0.2  duplicada
1           5.1         3.5           1.4         0.2  duplicada
2             ?           3           1.4         0.2     setosa
3           4.7         3.2           1.3         0.2     setosa
4           5.1         3.5           1.4         0.2  duplicada
6             5         3.6           1.4         0.2     setosa
7           5.4         3.9           1.7         0.4  duplicada
8           5.4         3.9           1.7         0.4  duplicada
10            5         3.4           1.5         0.2     setosa
11          4.4         2.9           1.4         0.2  duplicada
12          4.9         3.1           1.5         0.1     setosa
13          5.4         3.7           1.5         0.2     setosa
14          4.4         2.9           1.4         0.2  duplicada
15          4.8         3.4           1.6         0.2     setosa
16          4.8           3           1.4         0.1     setosa
17          4.4         2.9           1.4         0.2  duplicada
18          4.3           3           1.1         0.1     setosa
19          5.8           4           1.2         0.2     setosa
20          5.7         4.4           1.5         0.4     setosa
21          5.4         3.9           1.3           ?     setosa
22          5.1         3.5           1.4         0.3     setosa
23          5.7           ?           1.7         0.3     setosa

In [ ]:
data.duplicated()

0     False
1      True
2     False
3     False
4      True
6     False
7     False
8      True
10    False
11    False
12    False
13    False
14     True
15    False
16    False
17     True
18    False
19    False
20    False
21    False
22    False
23    False
dtype: bool

In [ ]:
data2 = data.drop_duplicates()
data2.head(25)

   sepal_length sepal_width  petal_length petal_width    species
0           5.1         3.5           1.4         0.2  duplicada
2             ?           3           1.4         0.2     setosa
3           4.7         3.2           1.3         0.2     setosa
6             5         3.6           1.4         0.2     setosa
7           5.4         3.9           1.7         0.4  duplicada
10            5         3.4           1.5         0.2     setosa
11          4.4         2.9           1.4         0.2  duplicada
12          4.9         3.1           1.5         0.1     setosa
13          5.4         3.7           1.5         0.2     setosa
15          4.8         3.4           1.6         0.2     setosa
16          4.8           3           1.4         0.1     setosa
18          4.3           3           1.1         0.1     setosa
19          5.8           4           1.2         0.2     setosa
20          5.7         4.4           1.5         0.4     setosa
21          5.4         3.9           1.3           ?     setosa
22          5.1         3.5           1.4         0.3     setosa
23          5.7           ?           1.7         0.3     setosa

In [ ]:
import numpy as np
data2 = data2.replace('?', np.nan)
data2.head(25)

   sepal_length sepal_width  petal_length petal_width    species
0           5.1         3.5           1.4         0.2  duplicada
2           NaN           3           1.4         0.2     setosa
3           4.7         3.2           1.3         0.2     setosa
6             5         3.6           1.4         0.2     setosa
7           5.4         3.9           1.7         0.4  duplicada
10            5         3.4           1.5         0.2     setosa
11          4.4         2.9           1.4         0.2  duplicada
12          4.9         3.1           1.5         0.1     setosa
13          5.4         3.7           1.5         0.2     setosa
15          4.8         3.4           1.6         0.2     setosa
16          4.8           3           1.4         0.1     setosa
18          4.3           3           1.1         0.1     setosa
19          5.8           4           1.2         0.2     setosa
20          5.7         4.4           1.5         0.4     setosa
21          5.4         3.9           1.3         NaN     setosa
22          5.1         3.5           1.4         0.3     setosa
23          5.7         NaN           1.7         0.3     setosa

In [ ]:
data2 = data2.dropna(axis=0)
data2.head(25)

   sepal_length sepal_width  petal_length petal_width    species
0           5.1         3.5           1.4         0.2  duplicada
3           4.7         3.2           1.3         0.2     setosa
6             5         3.6           1.4         0.2     setosa
7           5.4         3.9           1.7         0.4  duplicada
10            5         3.4           1.5         0.2     setosa
11          4.4         2.9           1.4         0.2  duplicada
12          4.9         3.1           1.5         0.1     setosa
13          5.4         3.7           1.5         0.2     setosa
15          4.8         3.4           1.6         0.2     setosa
16          4.8           3           1.4         0.1     setosa
18          4.3           3           1.1         0.1     setosa
19          5.8           4           1.2         0.2     setosa
20          5.7         4.4           1.5         0.4     setosa
22          5.1         3.5           1.4         0.3     setosa

In [ ]:
print("Atributos atuais: ", data.columns)
data = data.drop(data.columns[[1,3]], axis=1 )

data.head(25)

Atributos atuais:  Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

   sepal_length  petal_length    species
0           5.1           1.4  duplicada
1           5.1           1.4  duplicada
2             ?           1.4     setosa
3           4.7           1.3     setosa
4           5.1           1.4  duplicada
6             5           1.4     setosa
7           5.4           1.7  duplicada
8           5.4           1.7  duplicada
10            5           1.5     setosa
11          4.4           1.4  duplicada
12          4.9           1.5     setosa
13          5.4           1.5     setosa
14          4.4           1.4  duplicada
15          4.8           1.6     setosa
16          4.8           1.4     setosa
17          4.4           1.4  duplicada
18          4.3           1.1     setosa
19          5.8           1.2     setosa
20          5.7           1.5     setosa
21          5.4           1.3     setosa
22          5.1           1.4     setosa
23          5.7           1.7     setosa

In [ ]:
data = data.drop(data.index[[0,2]],axis=0)
data.head(25)

   sepal_length  petal_length    species
1           5.1           1.4  duplicada
3           4.7           1.3     setosa
4           5.1           1.4  duplicada
6             5           1.4     setosa
7           5.4           1.7  duplicada
8           5.4           1.7  duplicada
10            5           1.5     setosa
11          4.4           1.4  duplicada
12          4.9           1.5     setosa
13          5.4           1.5     setosa
14          4.4           1.4  duplicada
15          4.8           1.6     setosa
16          4.8           1.4     setosa
17          4.4           1.4  duplicada
18          4.3           1.1     setosa
19          5.8           1.2     setosa
20          5.7           1.5     setosa
21          5.4           1.3     setosa
22          5.1           1.4     setosa
23          5.7           1.7     setosa

In [ ]:
data = pd.read_csv('iris-with-errors.csv', header =  (0))

In [ ]:
data = data.replace('?', np.nan)

In [ ]:
X = np.array(data[data.columns[0:data.shape[1]-1]], dtype = float)

medias = np.nanmean(X, axis =0)
for i in np.arange(0,X.shape[0]):
  for j in np.arange(0,X.shape[1]):
    if (np.isnan(X[i,j])==True):
      X[i,j] = medias[j]
print(X)

[[5.1        3.5        1.4        0.2       ]
 [5.1        3.5        1.4        0.2       ]
 [5.02272727 3.         1.4        0.2       ]
 [4.7        3.2        1.3        0.2       ]
 [5.1        3.5        1.4        0.2       ]
 [5.02272727 3.1        1.5        0.2       ]
 [5.         3.6        1.4        0.2       ]
 [5.4        3.9        1.7        0.4       ]
 [5.4        3.9        1.7        0.4       ]
 [4.6        3.4        1.4        0.22608696]
 [5.         3.4        1.5        0.2       ]
 [4.4        2.9        1.4        0.2       ]
 [4.9        3.1        1.5        0.1       ]
 [5.4        3.7        1.5        0.2       ]
 [4.4        2.9        1.4        0.2       ]
 [4.8        3.4        1.6        0.2       ]
 [4.8        3.         1.4        0.1       ]
 [4.4        2.9        1.4        0.2       ]
 [4.3        3.         1.1        0.1       ]
 [5.8        4.         1.2        0.2       ]
 [5.7        4.4        1.5        0.4       ]
 [5.4        3.9        1.3        0.22608696]
 [5.1        3.5        1.4        0.3       ]
 [5.7        3.4375     1.7        0.3       ]
 [5.02272727 3.8        1.5        0.3       ]]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
X_pad = scaler.fit_transform(X)
print(X_pad)

[[0.53333333 0.4        0.5        0.33333333]
 [0.53333333 0.4        0.5        0.33333333]
 [0.48181818 0.06666667 0.5        0.33333333]
 [0.26666667 0.2        0.33333333 0.33333333]
 [0.53333333 0.4        0.5        0.33333333]
 [0.48181818 0.13333333 0.66666667 0.33333333]
 [0.46666667 0.46666667 0.5        0.33333333]
 [0.73333333 0.66666667 1.         1.        ]
 [0.73333333 0.66666667 1.         1.        ]
 [0.2        0.33333333 0.5        0.42028986]
 [0.46666667 0.33333333 0.66666667 0.33333333]
 [0.06666667 0.         0.5        0.33333333]
 [0.4        0.13333333 0.66666667 0.        ]
 [0.73333333 0.53333333 0.66666667 0.33333333]
 [0.06666667 0.         0.5        0.33333333]
 [0.33333333 0.33333333 0.83333333 0.33333333]
 [0.33333333 0.06666667 0.5        0.        ]
 [0.06666667 0.         0.5        0.33333333]
 [0.         0.06666667 0.         0.        ]
 [1.         0.73333333 0.16666667 0.33333333]
 [0.93333333 1.         0.66666667 1.        ]
 [0.73333333 0.66666667 0.33333333 0.42028986]
 [0.53333333 0.4        0.5        0.66666667]
 [0.93333333 0.35833333 1.         0.66666667]
 [0.48181818 0.6        0.66666667 0.66666667]]